*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(228, 227, 225);
}

.App{
  margin: 20px;
}

.searchDiv{
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  padding: 40px;
}

.form{
  display: flex;
  flex-direction: column;
}

.form .label{
  font-size: 24px;
  padding-bottom: 20px;
  font-weight: bold;
}

.form .input{
  height: 40px;
  text-align: center;
  font-size: 24px;
  border-radius: 10px;
}

.imageList{
  columns: 250px 5;
  column-gap: 10px;
}

.imageListImg{
  width: 100%;
  margin-bottom: 10px;
}